* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container_all {
  /* width: 100vw; */
  /* height: 100vh; */
  /*
      Porque no vas y le dices mujer que no lo amas a él
      Escucha, 'cucha, 'cucha
      La Champion's Liga
      ¡Bailen chiche, bailen dale!
      Sé que me amas a mí, que no amas a otro
      Que soy tu eterno enamorado
      Amor
      Te he visto vagando con tristeza en tu rostro
      Tu corazón destrozado a causa del dolor
      Porque no vas y le dices mujer que no lo amas a él
      No lo engañes más
      Porque no vas y le dices la verdad
      De lo que ha sido y será
      Por siempre tu único amor
      Te escribí y escucha bien esta canción
      Que nace desde lo profundo del corazón
      Por cada duda siempre hay una explicación
      Si yo te amo a ti y tu me decís no
      Yo no comprendo si en verdad tú no lo quieres
      Si en mi mente hay algo que me entristece
      Hay algo dentro de mi alma que se desvanece
      Porque tú no estas
      Porque no vas y le dice mujer que no lo amas a él
      No lo engañes más
      Porque no vas y le dices la verdad de lo que ha sido y será
      Por siempre tu único amor
      Como le explico al corazón si el no quiere entender
      Que en esto del amor hay que saber perder
      Solo debo resignarme, solo sé baby
      Si tú sabes que sin ti yo no vivo
      Piensá que el orgullo ha sido mi peor castigo
      Porque no vas y le dices mujer que no lo amas a él
      No lo engañes más
      Porque no vas y le dices la verdad de lo que ha sido y será
      Por siempre tu único amor
      No lo engañes más 
  */
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url(/IMG/MHA_Wallpaper.png);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-position: center;
  border-bottom: 1px solid #000;
}

.navbar {
  height: 15vh;
  width: 100%;
  border-bottom: 0.01px rgba(22, 15, 15, 0.9) solid;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.navbar_logo {
  width: 500px;
  height: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 60%;
  height: 47%;
}

.container_navbar_list {
  width: 50%;
  height: 100%;
}

.navbar_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar_list a {
  text-decoration: none;
  margin: 0 30px 0 0;
  font-weight: 700;

  padding: 6px 18px 6px 18px;
  color: #d8d8d4;
  background-color: #aa111e;
  border-radius: 20px;
  border: solid 1.5px #12121c;
}

.navbar_list a:hover {
  background-color: #aa111ebe;
  transition: 0.2s ease-out;
}

.navbar_list a:active {
  background-color: #aa111e8e;
  color: #000000;
}

.rest_header {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.h1_img_title_container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download_app {
  width: 65%;
  height: 200px;
  background-color: rgba(0, 0, 0, 65%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.img_luffy_header {
  width: 59px;
  height: 87px;
  margin: 100px 0 0 10px;
}

.img_luffy_header img {
  width: 100%;
  height: 100%;
}

.h1_button_container {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1_container_header {
  margin: 0 12px 20px 0;
  text-align: center;
}

.h1_container_header h1 {
  color: #ffffff;
}

.h1_container_header h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button_container_header {
  display: flex;
  justify-content: center;
  margin: 20px 29px 0 0;
}

.button_container_header button {
  width: 210px;
  height: 50px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgba(193, 41, 33, 1);
  border-radius: 30px;
  border: 0.5px solid #000000;
}

.button_container_header button:hover {
  background-color: rgb(179, 39, 32);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button_container_header button:active {
  background-color: rgb(163, 36, 29);
}

.social_media {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0 30px 0;
}

.icons_socialmedia {
  width: 62%;
  height: 85px;
  background-color: rgba(196, 196, 196, 40%);
  border: solid 0.5px #0000;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 5px 4px 11px 5px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 4px 11px 5px rgba(0, 0, 0, 0.57);
}

.icons_socialmedia i {
  font-size: 2.5rem;
}

.icons_socialmedia i:hover {
  color: #541c8b;
  transition: 0.4s ease-in-out;
}

.icons_socialmedia a {
  color: #000000;
}

/* Manga section begins here ay si como no*/

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 75%;
  /* height: max-content; */
  background-color: #12121c;
  border-right: solid 1px #000000;
}

.more_recent {
  /* height: 100vh; */
  width: 100%;
}

.title_search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 20px 5px 20px;
  border: solid 1px #767372;
  border-radius: 2px;
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
  background-color: #efe60d;
}

.search {
  width: max-content;
  margin-right: 20px;
}

.search input {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.33);
  color: #b2b2ae;
  border: 0.5px solid #000000;
}

.container_mangas {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  row-gap: 1.5rem;
  justify-items: center;
  align-content: space-around;
  padding: 20px 0 0 0;
  /* grid-auto-rows: minmax(100px, auto); */
}

.container_img_manga {
  position: relative;
  max-width: 160px;
  -webkit-box-shadow: 5px 1px 7px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 1px 7px 3px rgba(0, 0, 0, 0.55);
  border: 1px solid rgb(14, 12, 12);
}

.container_img_manga img {
  /* width: 250px; */
  width: 100%;
  /* height: 250px; */
}

.container_img_manga img:hover {
  opacity: 0.55;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.texto_img {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgb(0 0 0 / 65%);
  font-weight: 300;
  color: #f1f1f1;
  width: 100%;
  padding: 15px 8px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.texto_img:hover {
  color: #efe60d;
  transition: ease-in-out 0.3s;
}

.see_more {
  /* width: 67vw; */
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.btn_ver_mas {
  width: 164px;
  height: 42px;
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgba(193, 41, 33, 1);
  border-radius: 30px;
  border: 0.5px solid #000000;
  color: #ffff;
}

.btn_ver_mas:hover {
  background-color: rgb(179, 39, 32);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn_ver_mas:active {
  background-color: rgb(163, 36, 29);
}

/* Section galery photos */

.galery {
  width: 100%;
  height: 100vh;
  border-top: 1px solid;
  padding: 35px 0;
  margin: 0 0 20px 0;
}

.title_galery {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 20px 5px 20px;
  margin: 0 0 25px 0;
  border: solid 1px #767372;
  border-radius: 2px;
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
  background-color: #efe60d;
}

.slider_galery {
  height: 85%;
  width: 100%;
  padding: 0 35px;
}

.slider {
  width: 100%;
  height: 100%;
}

ul.slider {
  position: relative;
  /* width: 800px;
  height: 300px; */
}

.slider_galery ul,
li {
  list-style: none;
}

ul.slider li {
  position: absolute;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.6s ease-in;
  background: #fff;
}

ul.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}

.menu_slider {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.menu_slider li a {
  display: inline-block;
  color: transparent;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  margin: 0 10px 0 0;
}

/* Newsletter section  */

.newsletter {
  width: 100%;
  height: 45vh;
  border-top: 1px solid;
  padding: 13px 0;
}

.title_newsletter {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 20px 5px 20px;
  margin: 0 0 0px 0;
  border: solid 1px #767372;
  border-radius: 2px;
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
  background-color: #efe60d;
}

.imgNaruto_text {
  width: 100%;
  height: 81%;
  display: flex;
}

.imgNaruto {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgNaruto img {
  width: 120px;
}

.textNewsletter_emailButton {
  width: 76%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 0 0 20px;
}

.textNewsletter {
  width: max-content;
}

.textNewsletter p {
  /* font-weight: bold; */
  text-align: center;
  letter-spacing: 0.5px;
  width: 655px;
  height: 100px;
  background-color: #c4c4c4;
  color: #000;
  border: 0.5px solid #000000;
}

.emailButton {
  padding: 10px 0 0 0;
}

.emailButton input {
  width: 500px;
  background-color: rgba(196, 196, 196, 0.33);
  color: #b2b2ae;
}

.emailButton a {
  text-decoration: none;
  margin: 10px;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  background-color: #aa111e;
  color: #b2b2ae;
}

/* Contacts Section */
.contact {
  border-top: 1px solid;
  padding: 13px 0;
  height: 72vh;
}

.title_contact {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 20px 5px 20px;
  margin: 0 0 0px 0;
  border: solid 1px #767372;
  border-radius: 2px;
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
  background-color: #efe60d;
}

.form_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.name_mailContact {
  width: 20rem;
}

.messegeContact {
  width: 40rem;
  height: 10rem;
}

.form_contact a {
  text-decoration: none;
  margin: 10px;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  background-color: #aa111e;
  color: #b2b2ae;
}

.aside {
  width: 25%;
  background-color: #861610;
}

.container_cards_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_aside {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 110px 5px 110px;
  margin: 2rem 0 0 0;
  border: solid 1px #767372;
  border-radius: 2px;
  -webkit-box-shadow: 6px 3px 15px 5px #000000;
  box-shadow: 6px 3px 15px 5px #000000;
  background-color: #efe60d;
}

.series_aside {
  width: 90%;
  display: grid;
  row-gap: 2rem;
  margin: 2rem 0;
}

.card_aside {
  background-color: rgba(175, 96, 104, 1);
  display: flex;
  align-items: center;
  box-shadow: 5px 1px 7px 3px rgb(0 0 0 / 55%);
  border: 1px solid rgb(14, 12, 12);
}

.img_top {
  width: 34%;
  height: 123px;
  border: 1px solid black;
  margin: 4px;
}

.img_top img {
  width: 100%;
  height: 100%;
}

.text_top h3 {
  color: #fff;
}

.text_top img {
  width: 1rem;
  margin: 2rem 0 0;
}

.button_aside_seemore {
  display: flex;
  justify-content: center;
}

.button_aside_seemore button {
  width: 164px;
  height: 42px;
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgba(193, 41, 33, 1);
  border-radius: 30px;
  border: 0.5px solid #000000;
  color: #ffff;
}
